---
layout: base

---

</head>

<body class="ss-base-body {{ page.language }}" dir="ltr">
<div>
    {% unless page.embed %}
    <div class="header">
        <div class="row">
            <ul>
                <li id="logo"><a href="index.html"><img src="{{ site.baseurl }}static/img/genE.gif" alt="Generation E" ></a></li>
                <li><a href="about.html">{{ site.translations[page.language].about }}</a></li>
                <li><a href="contact.html">{{ site.translations[page.language]contact }}</a></li>
                <li class="lang"><a href="/en/">English</a></li>
                <li class="lang"><a href="/es/">Español</a></li>
                <li class="lang"><a href="/it/">Italiano</a></li>
                <li class="lang"><a href="/el/">Ελληνικά</a></li>
                <li class="lang"><a href="/pt/">Português</a></li>
            </ul>
        </div><!-- /row-->
    </div><!-- /header-->
    {% endunless %}
{{ content }}
    <div class="ss-footer">
      {% unless page.embed %}
            <div class="ss-attribution row">
                <ul class="large-12 medium-12 columns">
                    <li>
                        <a href="http://www.journalismfund.eu" title="Journalism Fund" target="_blank"><img src="{{ site.baseurl }}static/img/logo-journalismfund.png" alt="Journalism Fund, logo"></a>
                    </li>
                    <li>
                        <a href="http://www.elconfidencial.com" title="El Confidencial" target="_blank"><img src="{{ site.baseurl }}static/img/logo-elconfidencial.png" alt="El Confidencial, logo"></a>
                    </li>
                    <li>
                        <a href="http://www.radiobubble.gr" title="Radio Bubble" target="_blank"><img src="{{ site.baseurl }}static/img/logo-radiobubble.png" alt="Radio Bubble, logo"></a>
                    </li>
                    <li>
                        <a href="http://www.ilfattoquotidiano.it" title="Il Fatto Quotidiano" target="_blank"><img src="{{ site.baseurl }}static/img/logo-ilfatto.png" alt="Il Fatto Quotidiano, logo"></a>
                    </li>
                    <li>
                        <a href="http://p3.publico.pt" title="P3, Público" target="_blank"><img src="{{ site.baseurl }}static/img/logo-p3.png" alt="P3, logo"></a>
                    </li>
                    <li>
                        <a href="http://www.cafebabel.co.uk/" title="Cafe Babel" target="_blank"><img src="{{ site.baseurl }}static/img/avatar-cbb-rce.jpg" alt="Cafe Babel, logo"></a>
                    </li>
                </ul>
                <p class="large-12 medium-12 columns">Photos by Flickr user <a href="https://www.flickr.com/photos/jdhancock/sets/72157615912246386/" title="Little Dudes by JD Hancock" target="_blank">JD Hancock</a> and are available under a <a href="https://creativecommons.org/licenses/by/2.0/" target="_blank">CC-BY 2.0 license</a>.</p>
            </div><!-- /ss-attribution -->
      {% endunless %}
